.bounce-convert-filter-options ul {
  margin-left: -35px;
  width: 170px;
  z-index: 9999;
  position: relative;
  margin: 15px 0px 0px 0px;
}
.bounce-convert-filter-options ul a {
  text-decoration: none;
}
.bounce-convert-filter-options ul li:hover {
  background: #009933;
  color: #fff!important;
  z-index: 999;
}
.bounce-convert-filter-options ul li {
  list-style: none;
  text-align: left;
  padding: 8px;
  background: lightblue;
  border-radius: 7px;
}
.bounce-convert-filter-title {
  float: left;
  padding: 15px 5px;
}
.bounce-convert-filter-options {
  border-left: 1px solid #ffffff;
  float: right;
  padding: 10px;
  position: absolute;
  text-align: left;
  z-index: 2147483647;
  right: 15px;
}
.bounce-convert-filter-bar {
  height: 50px;
  background: lightblue;
  clear: both;
  border-radius: 10px 10px 0 0;
}
.bounce-convert-main-wrapper {
  height: 255px;
  text-align: center;
}
.bounce-convert-tab {
  float: left;
  width: 31%;
  height: 170px;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
  color: #fff;
}
.bounce-convert-tab .conversion-digit {
  font-size: 70px;
  line-height: 70px;
  padding: 10px;
}
.bounce-convert-tab .conversion-title {
  font-size: 25px;
  line-height: 25px;
  padding: 10px;
}
.bounce-convert-conversion:hover {
  background: #009933;
}
.bounce-convert-conversion {
  background: #007000;
}
.bounce-convert-impression {
  background: #ffcc00;
}
.bounce-convert-impression:hover {
  background: #ffdd00;
}
.bounce-convert-percentage {
  background: #0066ff;
}

/* Campaign search form. */
.bounce-convert-campaign-filter-form #campaign {
  border: 1px solid #9e9e9e;
  font-size: 12px;
  width: 272px;
  padding: 5px;
}
.bounce-convert-campaign-filter-form input[type="submit"] {
  padding: 5px;
  width: 70px;
}